title{
    align-items: center;
}

.container-top {
    display: flex;
    justify-content: space-between;
  }

  #life{
      width:30px;
      height:30px;
  }

.life-display{
      margin-top: 50px;
      }

#score{
    margin-left: auto;
}